:root{
    --main-color: #ffffff;
    --secondary-color: grey;
    --font-color: #333333;
    --background-color: #f5f5f5;
    --padding: 16px;
    --margin: 16px;
    --border-radius: 8px;;
}
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}
p {
  margin-bottom: 20px;
  font-size: 16px;
}
li {
  margin-bottom: 10px;
  font-size: 16px;
}
nav {
  margin-bottom: 20px;
  align-content: flex-end;
}
.dark-mode {
  background-color: black;
  color: white;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: black 1px solid;
    border-radius: 16px;
}
button:hover {
    background-color: pink;
}
input{
    padding: 10px;
    font-size: 16px;
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: #333333 1px solid;
    border-radius: 16px;
}
.message{
    height: 150px;
    
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}
    
.header {
    grid-column: span 3 / span 3;
    text-align: center;
}

.footer {
    grid-column: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 5;
    text-align: center;;
}

.socials {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 2;
    border: #333333 1px solid;
    border-radius: 16px;
    text-align: center;
}

.aboutme {
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
    border: #333333 1px solid;
    border-radius: 16px;
    text-align: center;
}

.contact {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 2;
    border: #333333 1px solid;
    border-radius: 16px;
    text-align: center;
}
.contact:hover, .aboutme:hover, .socials:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 100ms;
}
@media screen {
    @media (max-width: 600px) {
        .parent {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(9, auto);
        }
        .header, .footer, .socials, .aboutme, .contact {
            grid-column: span 1 / span 1;
            grid-row-start: auto;
        }
    }
}        